---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Algebrain">
  <div id="contenido">hola</div>
  <div id="contenido">hola</div>
  <div id="contenido">hola</div>
</Layout>

<style>
  #contenido{
    width: 30%;
    height: 100px;
    text-align: center;
    background-color: #A2D9FF;
    border-radius: 10px;
    margin-bottom: 20px;
    transform: translateY(50%);
  }
</style>
